<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>productServlet</servlet-name>
    <servlet-class>com.yigou.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.yigou.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ajaxRegisterServlet</servlet-name>
    <servlet-class>com.yigou.servlet.AjaxRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>com.yigou.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ajaxAdminServlet</servlet-name>
    <servlet-class>com.yigou.servlet.AjaxAdminServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>productServlet</servlet-name>
        <url-pattern>/productServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ajaxRegisterServlet</servlet-name>
    <url-pattern>/ajaxRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ajaxAdminServlet</servlet-name>
    <url-pattern>/ajaxAdminServlet</url-pattern>
  </servlet-mapping>
    <session-config>
        <session-timeout>-10</session-timeout>
    </session-config>

</web-app>